<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- servlets are registered in 2 parts
         first the <servlet> tag and then
         the <servlet-mapping> tag -->
    <servlet>
        <!-- a logical arbitrary name -->
        <servlet-name>Fox</servlet-name>
        <servlet-class>com.ex.web.TodoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Fox</servlet-name>
        <url-pattern>/todos/*</url-pattern>
    </servlet-mapping>
</web-app>
