<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Reimbursement Application</display-name>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>emp_clarification</servlet-name>
        <servlet-class>com.company.servlet.emp_clarification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>emp_clarification</servlet-name>
        <url-pattern>/emp_clarification/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manager_clarification</servlet-name>
        <servlet-class>com.company.servlet.manager_clarification</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager_clarification</servlet-name>
        <url-pattern>/manager_clarification/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>emp_Login</servlet-name>
        <servlet-class>com.company.servlet.emp_Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>emp_Login</servlet-name>
        <url-pattern>/emp_Login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>manager_Login</servlet-name>
        <servlet-class>com.company.servlet.manager_Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager_Login</servlet-name>
        <url-pattern>/manager_Login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewTable</servlet-name>
        <servlet-class>com.company.servlet.viewTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewTable</servlet-name>
        <url-pattern>/viewTable/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateInformation</servlet-name>
        <servlet-class>com.company.servlet.updateInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateInformation</servlet-name>
        <url-pattern>/updateInformation/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectSettings</servlet-name>
        <servlet-class>com.company.servlet.redirectSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectSettings</servlet-name>
        <url-pattern>/redirectSettings/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createRequest</servlet-name>
        <servlet-class>com.company.servlet.createRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createRequest</servlet-name>
        <url-pattern>/createRequest/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectToCreate</servlet-name>
        <servlet-class>com.company.servlet.redirectToCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectToCreate</servlet-name>
        <url-pattern>/redirectToCreate/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectReimbursement</servlet-name>
        <servlet-class>com.company.servlet.redirectReimbursement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectReimbursement</servlet-name>
        <url-pattern>/redirectReimbursement/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectManagerSettings</servlet-name>
        <servlet-class>com.company.servlet.redirectManagerSettings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectManagerSettings</servlet-name>
        <url-pattern>/redirectManagerSettings/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectManagerHome</servlet-name>
        <servlet-class>com.company.servlet.redirectManagerHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectManagerHome</servlet-name>
        <url-pattern>/redirectManagerHome/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectEmployees</servlet-name>
        <servlet-class>com.company.servlet.redirectEmployees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectEmployees</servlet-name>
        <url-pattern>/redirectEmployees/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>redirectPending</servlet-name>
        <servlet-class>com.company.servlet.redirectPending</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>redirectPending</servlet-name>
        <url-pattern>/redirectPending/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewApproved</servlet-name>
        <servlet-class>com.company.servlet.viewApproved</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewApproved</servlet-name>
        <url-pattern>/viewApproved/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>myServlet</servlet-name>
        <servlet-class>com.company.servlet.myServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>